.git
.gitignore
.vscode
.env
.env.local
.env.*.local
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
dist
build
.DS_Store
*.log
.idea
src/**/*.test.ts
src/**/*.spec.ts
coverage
.eslintcache
*.swp
*.swo
*~
.next
out
